*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-padding-top:2rem;
    list-style: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
 .banner .logo img{
    width: 100px;
}
.banner .main{
    background: url(../images/newsletter-image.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    position: relative;
    min-height: 100vh;
}
.banner .hero{
     align-items: center;
    display: flex;
    height: 100vh;
    
}
.banner .contain{
    flex: 0.55;
    padding-left: 50px;
    padding-top: 0;
    margin-top: 0;
    line-height: 1.6;
    padding-top: 0;
}
.banner .header{
    display: flex;
    padding: 20px 60px;
    justify-content: space-between;
   position: static; 
   padding-bottom: 0;
}
.banner .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 30px;
    border: 0.1px solid rgba(1, 110, 10, 0.561);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding-left: 15px;
    margin: 20px ;
    width: fit-content;
}
.banner .navlink{
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0px;

}
.banner .navlink a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    transition: 0.3s;
    
}
.banner .order{
    background: rgb(0, 159, 0);
    color: rgb(255, 255, 255);
    padding: 13px 20px;
    border-radius: 30px;
    text-decoration: none;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    cursor: pointer;
    font-weight: bold;
}
.banner h1, .banner p, .banner button{
    margin-bottom: 10px;
}
.banner h1{
    font-size: 40px;
}
.banner span{
    color: green;
}
.banner button {
    background: green;
    color: rgb(255, 255, 255);
    padding: 13px 20px;
    border-radius: 30px;
    text-decoration: none;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    border-style: none;
     box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}
.banner .contain a{
    color: white;
    margin-left: 30px;
}




@media (min-width: 768px) {
    .banner {
        flex-direction: row;
        text-align: left;
        padding: 40px;
    }

    .banner .main {
        flex: 1;
    }

    .banner .hero {
        flex: 1;
    }
}


@media (max-width: 767px) {
    .banner {
        height: 50%;
        flex-direction: column;
        padding: 20px;
    }

    .banner .hero h1 {
        font-size: 1.8rem;
    }

    .banner .hero p {
        font-size: 1rem;
    }

    .banner .hero button {
        font-size: 0.9rem;
        padding: 10px 20px;
    }
}