<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleJ.css">
    <title>Document</title>
</head>
<body>
    <section class="main">
        <div class="header">
            <div class="logo">
                <img src="ChatGPT Image 1 sept. 2025, 13_01_15.png" alt="">
            </div>
            <div class="navbar">
                <ul class="navlink">
                <a href="#">Home page</a>
                <a href="#">About</a>
                <a href="#">Testimonials</a>
                <a href="#">FAQ</a>
                <a href="#">contact</a>
                </ul>
                <a class="order" href="#">Order Now</a>
            </div>
        </div>
        <div class="hero">
            <div class="contain">
            <h1><span>Revitalize your life</span><br>Naturally, Simply,<br> Every Day.</h1>
            <p>Lorem ipsum dolor sit, amet consectetur Eius dolorum, <br>quibusdam vero modi repellat sit nesciunt quae 
                </p>

                 <button>Order Now</button>
                 <a href="#">Discover Here</a>
        </div>
        </div>
    </section>
</body>
</html>