<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>products</title>
    <link rel="stylesheet" href="../static/css/product.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>

<body class="product-section">
    <div class="products">
        <h1 class="title">check out our top supplements</h1>
        <div class="product">

            <div class="card">
                <img src="../static/images/product1.jpg" alt="product image">
                <h2 class="product-name">Whey Protein</h2>
                <p class="product-description">High-quality whey protein for muscle growth and recovery.for more
                    cleannnes and very effective for skin and hairs apply after each bath</p>
                <button class="btn">Find out more
                    <i class="bi bi-arrow-right"></i>
                </button>
            </div>




            <div class="card">
                <img src="../static/images/product2.jpg" alt="product image">
                <h2 class="product-name">Whey Protein</h2>
                <p class="product-description">High-quality whey protein for muscle growth and recovery.for more
                    cleannnes and very effective for skin and hairs apply after each bath</p>
                <button class="btn">Find out more
                    <i class="bi bi-arrow-right"></i>
                </button>
            </div>




            <div class="card">
                <img src="../static/images/product1.jpg" alt="product image">
                <h2 class="product-name">Whey Protein</h2>
                <p class="product-description">High-quality whey protein for muscle growth and recovery. for more
                    cleannnes and very effective for skin and hairs apply after each bath</p>
                <button class="btn">Find out more
                    <i class="bi bi-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="hero">
        <div class="text">
            <h1 class="title">empowering your <br>wellness journey, naturally</h1>
            <p class="description">We provide the best quality supplements to help you achieve your fitness goals.
                Our products are made from high-quality ingredients and are designed to support muscle growth, recovery,
                and overall health. We provide the best quality supplements to help you achieve your fitness goals.
                Our products are made from high-quality ingredients and are designed to support muscle growth, recovery,
                and overall health.</p>
            <button class="btn">Explore More
                <i class="bi bi-arrow-right"></i>
            </button>
        </div>
    </div>


    <div class="custumer-review">
        <h1 class="title">what our custumers say</h1>
        <div class="review">
            <div class="card">
                <div class="profil-stars">
                    <div class="profile">
                        <img src="../static/images/profile3.jpeg" alt="custumer image">
                        <h2 class="custumer-name">John Doe</h2>
                    </div>
                    <div class="stars">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                </div>
                
                <p class="custumer-feedback">"I have been using these supplements for a month now and I can already
                    see a difference in my energy levels and overall health. Highly recommend!"</p>
            </div>

            <div class="card">
                <div class="profil-stars">
                    <div class="profile">
                        <img src="../static/images/profile1.webp" alt="custumer image">
                        <h2 class="custumer-name">John Doe</h2>
                    </div>
                    <div class="stars">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                </div>
                <p class="custumer-feedback">"These supplements have helped me recover faster after workouts and I
                    feel stronger than ever. The quality is top-notch!"</p>
            </div>

            <div class="card">
                <div class="profil-stars">
                    <div class="profile">
                        <img src="../static/images/profile2.jpeg" alt="custumer image">
                        <h2 class="custumer-name">John Doe</h2>
                    </div>
                    <div class="stars">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                </div>
                <p class="custumer-feedback">"I was skeptical at first, but after trying these supplements, I'm a
                    believer. My performance in the gym has improved significantly."</p>
            </div>

            <div class="card">
                <div class="profil-stars">
                    <div class="profile">
                        <img src="../static/images/profile2.jpeg" alt="custumer image">
                        <h2 class="custumer-name">John Doe</h2>
                    </div>
                    <div class="stars">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                </div>
                <p class="custumer-feedback">"I was skeptical at first, but after trying these supplements, I'm a
                    believer. My performance in the gym has improved significantly."</p>
            </div>

            <div class="card">
                <div class="profil-stars">
                    <div class="profile">
                        <img src="../static/images/profile3.jpeg" alt="custumer image">
                        <h2 class="custumer-name">John Doe</h2>
                    </div>
                    <div class="stars">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                </div>
                
                <p class="custumer-feedback">"I have been using these supplements for a month now and I can already
                    see a difference in my energy levels and overall health. Highly recommend!"</p>
            </div>

            <div class="card">
                <div class="profil-stars">
                    <div class="profile">
                        <img src="../static/images/profile3.jpeg" alt="custumer image">
                        <h2 class="custumer-name">John Doe</h2>
                    </div>
                    <div class="stars">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                </div>
                
                <p class="custumer-feedback">"I have been using these supplements for a month now and I can already
                    see a difference in my energy levels and overall health. Highly recommend!"</p>
            </div>
        </div>
    </div>

</body>